.card-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 2;
    -fx-border-color: #cccccc;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 10, 0.5, 0, 4);
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

/* Hover glow */
.card-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,150,255,0.6), 20, 0.5, 0, 4);
}

/* Pressed / active */
.card-button:pressed {
    -fx-translate-y: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.5, 0, 2);
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.button-74 {
    -fx-background-color: #fbeee0;
    -fx-border-color: #422800;
    -fx-border-width: 2;
    -fx-border-radius: 30;
    -fx-background-radius: 30;

    -fx-text-fill: #422800;
    -fx-font-size: 18px;
    -fx-font-weight: bold;

    -fx-padding: 10 25 10 25;
    -fx-cursor: hand;

    /* Shadow */
    -fx-effect: dropshadow(gaussian, #422800, 0, 0, 4, 4);
}

/* Hover */
.button-74:hover {
    -fx-background-color: white;
}

/* Pressed (active) */
.button-74:pressed {
    -fx-effect: dropshadow(gaussian, #422800, 0, 0, 2, 2);
    -fx-translate-x: 2;
    -fx-translate-y: 2;
}




